/* navbar customization*/
/*.navbar {
    background-color: #92BEA6;
    margin-bottom: 0;
}
*/
 .navbar {
    padding:; 1.5% 0 1.5% 0;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 1em;    
    background-color: #92BEA6;
  }

.navbar-brand {
    color: white;
}

.nav.navbar-nav.navbar-right li a {
    color: black;
    padding-right: 20px;
}



/* introduction page*/
.intro{
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    background-color: #92BEA6;
    width: 100%;
    height: 100%;
}

#login{
   vertical-align: center;

}

#container{
    width:80%;
    margin:auto;
    overflow:hidden;
};