/* navbar customization*/
.navbar {
    background-color: #92BEA6;
    margin: 0;
    border: 0;
    padding: 1.5% 0 1.5% 0;
    font-size: 1em;

}

.navbar-brand {
    padding-left: 30px;
}
.navbar-brand img {
   margin-top: -20px;
    width: 60px;
    height: 60px;
}

.nav.navbar-nav.navbar-right li a {
    color: black;
    padding-right: 30px;
   
}


/*navbar responsivity*/
.navbar-collapse {
    text-align: center;
    margin: 0;
    border: 0;
}



/* introduction page*/

.container {
    padding-top: 100px;
}