body {
    font-family: Roboto;
    line-height: 1.8;
    color: #818181;
  }
  h1 {
      font-size: 3rem !important;
  }
  h2 {
    font-size: 2rem;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 2em;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }
  .container-fluid {
    padding: 60px 50px;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  .bg-green{
    background-color: #008080;
  }
  .logo-small {
    color: #008080;
    font-size: 50px;
  }
  .logo {
    color: #008080;
    font-size: 200px;
  } 
  /* ====== Landing page section ====== */ 
  .jumbotron {
    background-color: #008080;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
  }
  .col-sm-7 {
    margin-top: 10%;
  }
  .home-left {
    padding-left: 6em;
    color: white;
    margin: auto;
  }
  .home-left p {
      font-size: 14px;
  }
  .home-left button{
      margin-top: 20px;
      color: grey;
  }

  /* ====== Media queries for landing page section ====== */
  @media only screen and (max-width: 800px) {
    .home-left {
      padding-left: 0;
      text-align: center;
    }
    .col-sm-5 img {
      padding-top: 2em;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  }

  /* ====== About section ====== */
  .col-sm-4 {
    padding-top: 100px;
    padding-left: 100px;
  }

  /* ====== Navigation ====== */
  .navbar {
    margin-bottom: 0;
    background-color: #008080;
    z-index: 9999;
    border: 0;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    height: 80px;
    font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
    margin: auto;
    color: #fff !important;
    height: 80px;
    line-height: 50px;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #008080 !important;
    background-color: #fff !important;
    height: 80px;
    line-height: 50px;
    margin: auto;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }

  .navbar-brand img {
    height: 60px;
    width: auto; 
  }

  .navbar-collapse {
  text-align: center;
  background-color: #008080;
  }
  
 
  /* ====== E-Learning form section ====== */
input,
.btn-form {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
}
input:hover,
.btn-form:hover {
  opacity: 1;
}

/* buttons */
button[type=submit] {
  background-color: #92BEA6;
  color: black;
  cursor: pointer;
 width: 80%;
  
}
button[type=submit]:hover {
  background-color: #92999f;
}

/* social media */
.fb {
  background-color: #3B5998;
  color: white; 
}
.twitter {
  background-color: #55ACEE;
  color: white;
}
.google {
  background-color: #dd4b39;
  color: white;
}
.social-login-buttons, .sbutton {
	text-align: center;
}

  /*====Footer===============*/
.footer-distributed{
	background-color: #292c2f;
	box-sizing: border-box;
	width: 100%;
	text-align: left;

	padding: 55px 50px;
	margin-top: 80px;
}

 .footer-left, .footer-center,
 .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */
 .footer-left{
	width: 40%;
	text-align: center;
}

/* The logo */
#footer-logo{
	width: 25%;
	height:auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Footer links */
 .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
	text-align: center;
}

.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

 .footer-company-name{
	color:  #8f9296;
	font-size: 1rem;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */
 .footer-center{
	width: 35%;
}

.footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 1.5rem;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

 .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

 .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-center p span{
	display:block;
	font-weight: normal;
	font-size:1.5rem;
	line-height:2;
}

.footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}

/* Footer Right */
.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 10%;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}


/* ===== sidenav for adjusting website colours and font=====*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  margin-top: 80px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav-align{
  color: black;
  text-align: center;
}

.sidenav-align .centre-btn {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 10px;
}

.sidenav-align p{
color: white;
margin-top: 1em;
margin-bottom: 0;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.btn-access {
  font-size:12px;
  cursor:pointer;
  background-color:#008080;
  padding: 10px 10px 10px 10px 
}

#nav-div {  
  position: fixed;
  color: white;
}

.row-content{
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

#prod_img img {
  border-radius:6px;
  box-sizing:border-box;
  height:100px;
}


.greyscale {
    -moz-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: gray; /* IE6-9 */
    filter: grayscale(100%);
  }



.left{
  padding-left: 0;
  padding-top: 100px;
  text-align: left;
  

}

video {
  height: 250px;
 /* width: auto;*/
 width:250px;
  margin-bottom: 15px;
 }



.showcase-img {
  padding-top: 50px;
  padding-bottom: 100px;
  height: 500px;
  width: auto;
}

.learn-left-align {
  height: 400px;
  width:  auto;
  padding-left: 200px;
  padding-top: 100px;
}

.call {
  padding-left: 60px;
  color: white !important;
}

.call h2 {
  color: white !important;
}

.call-links {
  padding-left: 100px;
  padding-top: 20px;
}

.col-centered {
  display:inline-block;
  float:none;
  margin-right:-4px;
  text-align: justify;
}

.figures {
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 24px;
  text-align: center;
  color: #008080;
  font-weight: bold;
}

.col-md-offset-2:first-child{
  margin-left: 2%;
}

.col-md-offset-2 {
    margin-left: 12.666667% !important;
  }

.showcase-img {
  padding-top: 50px;
padding-bottom: 100px;
height: 450px;
width: auto;
}



.col-lg-12 {
  text-align: center;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.wrapper h1 {
  font-size: 32px;
  color: black !important;
}

.center {
  text-align: center;
}

img[src*="girl"]{
	width:auto;
	height:50%;
	vertical-align: middle;
	border-radius: 50%;
	background-color: #aecbcc;
}


.trans{
  display: block;
  padding: 0.5em;
  text-align: center;
  border-bottom: 1px solid #CCC;
  color: #666;
}
.trans:hover {
  color: #000;
}
.trans::before {
  content: "";

  vertical-align: text-top;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  background: radial-gradient(ellipse at center, #aecbcc 50%, transparent 50%);
}
#expand {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
  text-align: justify;
  text-align-last: left;
}

.collapsible:checked ~ #expand {
  height: 250px;
}
.collapsible:checked ~ .trans::before {
  background: radial-gradient(ellipse at center, #055e61 50%, transparent 50%);
}
.collapsible:checked ~ #expand {
	border-bottom: 1px solid #CCC;
}

input[type='checkbox'] {
  display: none;
}